
@using ExpRazor1.Services
@using Microsoft.AspNetCore.Components.Web
@using ExpRazor1.Models
@inject JsonFileProductService ProductService

<div class="row">
    @foreach (var product in ProductService.GetProducts())
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-img" style="background-image:url('@product.Image'); height:200px; background-size:cover;"></div>
                <div class="card-body">
                    <h5 class="card-title">@product.Title</h5>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <button @onclick="(e => SelectProduct(product.Id))" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal">
                            More Info
                        </button>
                    </small>
                </div>
            </div>
        </div>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">@selectedProduct?.Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-img" style="background-image: url('@selectedProduct?.Image'); height:200px; background-size:cover;"></div>
                    <div class="card-body">
                        <p class="card-text">@selectedProduct?.Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    Product selectedProduct;

    void SelectProduct(string productId)
    {
        selectedProduct = ProductService.GetProducts().First(x => x.Id == productId);
    }
}
